<nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
    <div class="container">   
      <div class="tm-next">
          <a href="#infinite" class="navbar-brand">Santi FORMS</a>
      </div>             
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#infinite">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link" routerLink="/forms/render" routerLinkActive="active">Form Render</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" routerLink="/forms/builder" routerLinkActive="active">Form Builder</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#contact">Contact</a>
          </li>                    
        </ul>
      </div>        
    </div>
  </nav>
